target
.idea
out
gh-pages
.classpath
.project
.settings
release.properties
pom.xml.releaseBackup
release-pom.xml
src/main/java/org/HeapFragger/Version.java
/bin
*.iml
*.log
*.hlog
HeapFragger.jar
.DS_Store
build
